node_modules/
dist/
.vscode/
package-lock.json



# Команды для гита
# git status
# Рабочий процесс Гит
# git checkout имя ветки на которую перключаюсь перейти к определенной версии программы 
# git branch имя новой ветки! 
# git branch -D имя ветки которую удаляем!
# git merge название ветки : и мы так совместим
# 
# 
#
# 
# 
# 
# 1) git add . добавляем изменения в индекс
# 2) git commit -m "сообщение что сделал"
# 3) git push залить изменения на GITHUB
# 
# 
# 