node_modules/
dist/
.vscode/
package-lock.json



# Команды для гита
# git status
# Рабочий процесс Гит
# git checkout перейти к определенной версии программы 

# 1) git add  добавляем изменения в индекс
# 2) git commit  
# 
# 
# 
# 