
@media (max-width: 0001px) {
    
    
    // footer ===---
}

@media (max-width: 1335px) {
    
    // header and modal---===
    
    .logo {
        width: 190px;
    }
    .header__top-form {
        width: 400px;
    }
    .header__top-wrapper {
        width: 550px;
    }
    
    .header__bottom {
        justify-content: flex-start;
    }
    .header__bottom-links {
        li:last-child {
            display: none;
        }
    }
    .header__bottom-basket {
        margin-left: auto;
    }
    
    // footer ===---
}

@media (max-width: 1200px) {
    
    // header and modal---===
    .logo {
        width: 158px;
    }
    .header__top-form {
        width: 360px;
    }
    .header__top-wrapper {
        width: 550px;
    }
    .header__bottom-links {
        li:nth-child(5) {
            display: none;
        }
    }
    
    // footer ===---
}

@media (max-width: 1135px) {
    
    // header and modal---===
    .header__top-wrapper {
        width: auto;
        justify-content: right;
    }
    .header__top-form {
        width: 390px;
    }
    
    .header__top {
        .map__link {
            font-size: 0;
        }
        .call__phone {
            margin: 0 10px;
        }
    }
    
    .header__bottom-links {
        li:nth-child(4) {
            display: none;
        }
    }
    
    // footer ===---
    .footer__inner-top {
        flex-wrap: wrap;
    }
    .footer__inner-item:last-child {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__inner-consultation {
        margin-bottom: 0;
    }
    .footer__inner-bottom-confidentiality {
        display: none;
    }
    .footer__inner-top-confidentiality {
        display: block;
    }
}

@media (max-width: 1035px) {
    
    // header and modal---===
    .header__top {
        .call__phone {
            font-size: 0;
        }
    }
    
    .header__bottom-links a {
        padding: 14px 10px;    
    }
    .header__categoty-list {
        grid-gap: 0px;
    }
    .header__categoty-list a {
        padding: 12px 5px 12px 5px;
    }
    .header__categoty-banner {
        min-width: 230px;
        max-width: 230px;
        height: 220px;
        margin-left: 15px;
    }
    
    // intro ===---
    
    .intro__slider-item {
        min-height: 350px;
        max-height: 350px;
    }
}

@media (max-width: 870px) {
    
    // header and modal---===
    .header__top {
        .call__phone {
            margin: 0 5px 0 10px;
        }
        .login__links {
            font-size: 0;
            width: 24px;
            height: 24px;
        }
        .login__links-mobile {
            pointer-events: all;
        }
    }
    
    
    .header__top-form {
        width: 100%;
        margin: 0 10px;
    }
    .logo {
        img {
            max-width: 108px;
            
        }
    }
    .header__bottom-btn {
        padding: 12px 12px 12px 35px;
        &::after {
            left: 8px;
        }
    }
    .header__bottom-basket {
        padding: 12px 30px 12px 40px;
        
        &::after {
            left: 5px;
        }
        .basket__link-num {
            right: 5px;
        }
    }
    .header__categoty-banner {
        min-width: 190px;
        max-width: 190px;
        height: 190px;
        margin-left: 15px;
    }
    .header__categoty-list a {
        padding: 7px 4px 7px 4px;
    }
    
    // intro ===---

    
    // footer ===---
    .footer__inner-bottom {
        flex-direction: column;
        padding: 20px 0;
    }
    .footer__inner-copyright {
        order: 1;
        margin-top: 20px;
    }
}

@media (max-width: 790px) {
    
    // header and modal---===
    .header__top {
        padding: 20px 0;
        .login__links {
            font-size: 16px;
            width: auto;
            height: auto;
        }
        .login__links-mobile {
            pointer-events: none;
        }
    }
    .header__bottom-links {
        display: none;
    }
    .header__top-form {
        display: none;
    }
    .header__bottom-form {
        display: block;
        margin: 0;
        margin-right: 10px;
    }
    .header__bottom-btn {
        min-width: 175px;
    }
    .header__categoty-inner {
        margin-top: 110px;
        display: block;
        max-width: 630px;
    }
    .header__categoty-list {
        grid-template-columns: repeat(2, minmax(auto, 3fr));
    }
    .header__categoty-banner {
        display: none;
    }
    
    // intro ---===

    
    // footer ===---
    .footer__inner-top {
        flex-direction: column;
        padding: 30px 0 20px;
    }
    .footer__inner-list {
        max-height: 0;
        overflow: hidden;
        transition: linear .5s;
    }
    .footer__inner-item:last-child {
        margin-top: 10px;
        flex-direction: column;
        
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__inner-consultation {
        width: 100%;
        padding-left: 0;
        &::after {
            display: none;
        }
        p::after {
            display: block;
        }
    }
    .footer__inner-title {
        cursor: pointer;
        pointer-events: all;
        &::after {
            display: block;
        }
    }
    .footer__inner-info {
        max-width: 100%;
        margin: 20px 0;
    }
}

@media (max-width: 680px) {
    
    // header and modal---===
    .header__inner-btn__menu {
        display: block;
        margin-right: 20px;
    }
    .logo {
        margin-right: auto;
    }
    .header__bottom-basket {
        display: none;
    }
    .header__top-basket {
        display: block;
        font-size: 0;
        padding: 0px;
        width: 45px;
        height: 23px;
        margin-right: 10px;
        background-color: transparent;
        .basket__link-num {
            top: 1px;
            right: -12px;
            z-index: 2;
        }
    }
    .header__top{
        .call__phone {
            display: none;
        }
        .map__link {
            padding: 0;
            margin-right: 4px;
        }
    }
    
    
    .header__top-form {
        margin-right: 0;
    }
    
    // footer ===---
}

@media (max-width: 560px) {
    
    // header and modal---===
    .header__bottom-btn {
        min-width: auto;
        padding: 20px;
        font-size: 0;
        margin-right: 10px;
        &::after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .header__top-search {
        padding: 11px 40px 11px 10px;
    }
    .header__categoty {
        padding: 20px 60px;
        overflow-y: scroll;
    }
    .header__categoty-inner {
        margin-top: 58px;
    }
    .header__categoty-list {
        display: block;
        text-align: center;
    }
    
    // intro ===---

}

@media (max-width: 480px) {
    
    // header and modal---===
    .lang {
        padding-left: 45px;
    }
    .header__inner-btn__menu {
        display: block;
        margin-right: 10px;
    }
    
    .header__top {
        .call__phone {
            margin: 0 0px 0 5px;
        }
        .login__links {
            font-size: 0;
            width: 24px;
            height: 24px;
        }
        .login__links-mobile {
            pointer-events: all;
        }
    }
    
    // intro ===---
    

}



@media (max-width: 420px) {
    
    // header and modal---===
    .header__bottom-btn--active {
        display: block;
        z-index: 1;
    }
    .header__categoty {
        padding: 10px 15px;
    }
    .header__categoty-inner {
        margin-top: 30px;
    }
    
    // footer ===---
    .footer__inner-payment {
        font-size: 14px;
        display: block;
        text-align: center;
        img {
            display: inline-block;
        }
        p {
            margin-bottom: 10px;
        }
    }
    .footer__inner-info {
        font-size: 14px;
    }
    .footer__inner-copyright {
        font-size: 12px;
    }
}





